<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>The Tasty Talk - Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap" rel="stylesheet">

  <!-- Firebase SDKs -->
<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.22.2/firebase-auth-compat.js"></script>

</head>
<body>
  <div class="container">
    <div class="left-panel">
      <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo">
    </div>
    
    <div class="right-panel">
      <form class="login-form">
        <div class="input-group">
          <img  class="input-icon" src="{{ url_for('static', filename='assets/mail.png') }}" alt="Mail">
          <input type="email" placeholder="Email" required>
        </div>
        <div class="input-group password-group">
          <img  class="input-icon" src="{{ url_for('static', filename='assets/padlock.png') }}" alt="pass">
          <input type="password" placeholder="Password" required>
        </div>
        <div class="terms">
          <input type="checkbox" id="agree" required>
          <label for="agree">I agree to the <strong>terms and conditions</strong></label>
        </div>
        <button type="submit" class="login-btn">LOGIN</button>
      </form>
    </div>
  </div>

  
  <script>
const firebaseConfig = {
  apiKey: "AIzaSyCs3NODolbJv01MFOKtcOnKRIeyUTnhmbI",
  authDomain: "tastytalk-66621.firebaseapp.com",
  projectId: "tastytalk-66621",
  storageBucket: "tastytalk-66621.firebasestorage.app",
  messagingSenderId: "315502318063",
  appId: "1:315502318063:web:26e5c506214f1dacdfe61a"
};

    firebase.initializeApp(firebaseConfig);
    const auth = firebase.auth();

    const loginForm = document.querySelector('.login-form');
    loginForm.addEventListener('submit', async (e) => {
      e.preventDefault();
      const email = loginForm.querySelector('input[type="email"]').value;
      const password = loginForm.querySelector('input[type="password"]').value;

      try {
        await auth.signInWithEmailAndPassword(email, password);
        alert("Login successful!");
        window.location.href = "/dashboard";
   
      } catch (error) {
        alert("Login failed: " + error.message);
      }
    });
  </script>
</body>
</html>
